doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/bc1bc2b6f5.js" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1
        a(href='/') Pokedoption Inventory
    nav 
      ul 
        li 
          a(href='/catalog/pokemon') All Pokemon 
        li 
          a(href='/catalog/type') All Types 
        li 
          a(href='/catalog/pokemoninstance') All Pokemon Instances
    main
      block content