doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js", integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj", crossorigin="anonymous")
    script(src="https://kit.fontawesome.com/bc1bc2b6f5.js" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/detail.css')
    link(rel='stylesheet', href='/stylesheets/list.css')
    link(rel='stylesheet', href='/stylesheets/form.css')
  body
    header
      h1
        a(href='/') Pokedoption Inventory
    nav 
      div#nav-circle-container
        div#main-nav-circle
        div.small-nav-circles
        div.small-nav-circles
        div.small-nav-circles
      div#nav-main 
        h2 Collections
        ul 
          li 
            a(href='/catalog/pokemon') All Pokemon 
          li 
            a(href='/catalog/type') All Types 
          li 
            a(href='/catalog/nature') All Natures 
          li 
            a(href='/catalog/pokemoninstance') All Pokemon Instances
        h2 Forms 
        ul 
          li 
            a(href='/catalog/pokemon/create') Create Pokemon
          li 
            a(href='/catalog/type/create') Create Type
          li 
            a(href='/catalog/nature/create') Create Nature 
          li 
            a(href='/catalog/pokemoninstance/create') Create Pokemon Instance
        
    main
      div#content
        block content