extends layout 

block content 
    h1= title 
    ul 
        each item in list 
            li
                a(href=item.url)= item.name 
                if item.image != null
                    img(src=item.image)
        else 
            li No results in our database