extends layout

block content 
    h2 404: Page Not Found 
    img(src='/images/404_pikachu.png' id='not-found-img')
    p(id='not-found-text') That's okay, this perfectly normal pikachu will stay with you until you find your way.