extends layout 

block content 
    h1= type.name
    if type.is_verified 
        i(class="fa-solid fa-circle-check")

    div 
        h2 Pokemon with this type 
        ul
        each poke in pokemon
            li
                a(href=poke.url)= poke.name
                img(src=poke.image)
    a.delete-link(href=type.url + "/delete") Delete Type