i.fa-solid.fa-circle-check {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.5em;
    color: rgb(65, 184, 65);
}

.detail-actions {
    display: flex !important;
    flex-direction: column !important;
    height: fit-content !important;
    justify-content: center !important;
    align-items: center !important;
}

.detail-actions a {
    background-color: var(--gray) !important;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif !important;
    font-size: 1.2em !important;
}

.detail-actions a:hover {
    text-decoration: none !important;
    background-color: rgb(93, 93, 93) !important;
}

.detail-list ul {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)) !important;
    grid-gap: 15px !important;
}

.detail-list li {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    border: 1px solid rgb(236, 99, 99) !important;
}

.detail-list img {
    max-width: 100% !important;
    height: auto !important;
}

.detail-header {
    position: relative !important;
}

/* Pokemon */
#pokemon-detail-header {
    position: relative;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

#pokemon-detail-image  {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

#pokemon-detail-information {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#pokemon-detail-list {
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

#pokemon-detail-actions {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
}

#pokemon-detail-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

#pokemon-detail-image i, #pokemon-detail-image img {
    background: linear-gradient(-30deg, black, rgb(56, 56, 56), rgb(85, 84, 84)), rgb(170, 169, 169);
    width: max(200px, 20vw);
    height: max(200px, 20vw);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 15px solid rgb(214, 213, 213);
    border-radius: 5px;
}  
 
#pokemon-detail-image i {
    font-size: clamp(20px, 5vw, 60px);
    color: var(--gray);
}

#pokemon-detail-types li {
    margin-top: 20px;
}   

/* Pokemoninstance */
#pokemoninstance-detail-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(-30deg, black, rgb(56, 56, 56), rgb(85, 84, 84)), rgb(170, 169, 169);
    width: clamp(200px, 40vw, 300px);
    height: clamp(200px, 40vw, 300px);
    margin: auto;
    border: 15px solid rgb(214, 213, 213);
}

#pokemoninstance-detail-image-container img {
    max-width: 100%;
    height: auto;
}

#pokemoninstance-detail-image-container i {
    font-size: clamp(40px, 10vw, 120px);
    color: var(--gray);
}

#pokemoninstance-detail-information p {
    margin-bottom: 10px;
}

@media only screen and (max-width: 830px) {
    body {
      display: block;
    }
    nav {
      display: block;
      position: absolute;
      top: 70px;
      padding: 0;
      width: 100%;
      z-index: 1;
    }
  
    #nav-circle-container {
      display: none;
    }
  
    main {
      padding: 10px;
    }
  }